*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
    background-color: rgb(37, 36, 36);
    font-family: "Kode Mono", sans-serif;
}
.navbar {
    display: flex;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 20px;
    z-index: 1;
}
.vet {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 20px;
}
.h1-vet {
    letter-spacing: 5px;
}
.h1-vet-1 {
    margin-top: 55px;
    font-size: 25px;
    margin-right: 10px;
    letter-spacing: 5px;
}
.scrolled {
    background-color: rgb(37, 36, 36);
}
.menu {
    display: flex;
    flex-direction: column;
    gap: 4px;

}
.menu-3 .line {
    padding: 1px 20px;
}
.menu-2 {
    display: none;
}
.menu-3 {
    gap: 8px;
}
.line {
    width: 20px;
    background-color: white;
    padding: 1px 8px;
}

.tools ul {
    display: flex;
    flex-direction: row;
    margin-top: 55px;
    margin-left: 70px;
    padding: 0 10px;

}
li {
    list-style: none;
    padding: 0 20px;

}
li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: "Kode Mono", monospace;
}
li a:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
}
.dropdown-btn {
    /* Button styles */
    border: none;
    color: white;
    outline: none;
    font-weight: 700;
    font-size: 20px;
    font-family: "Kode Mono", monospace;
  }
.dropdown-btn:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
}
.dropdown-content {
    display: none;
    position: absolute;
    /* Other styling as needed */
  }

  .dropdown-content a {
    color: rgb(255, 255, 255);
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-left: 20px;
  }

  .dropdown-content.show {
    display: flex;
    flex-direction: column;
  }


.both {
    margin-left: 20rem;
}
.nav-2 {
    margin-top: 55px;
}

.login-btn {
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    outline: none;
    color: rgb(124, 119, 119);
    border-radius: 3px;
    font-size: 17px;
}
#myVideo {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    z-index: -1;

}
#bg-center {
    display: flex;
    position: relative;
    left: 300px;
    top: 250px;
    font-size: 55px;
    color: white;
    max-width: 1000px;

}
@media (min-aspect-ratio:16/9) {
    #myVideo {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9) {
    #myVideo {
        width: auto;
        height: 100%;
    }
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
    margin: 60px 10px;

}
.cards h3 {
    color: rgb(252, 252, 252);
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}
.card-1 img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.card-1 {
    max-width: 300px;
    text-decoration: none;
}

.product {
    color: rgb(248, 248, 248);
    margin-top: 100px;
    margin-left: 10px;
    max-width: 500px;
    letter-spacing: 10px;
}
.main {
    margin-top: 580px;
    padding: 30px 40px;
}

.footer {
    position: relative;
    bottom: 0;
    color: white;
    margin: 30px;
}