<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>reset password</title>
    <!-- <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/register.css"> -->
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/register.css}"/>
</head>
<body>
<div class="container">
    <div class="row mt-2">
        <div th:if="${param.not_found}" class="param">
            <p class="alert alert-danger">No users found with this email</p>
        </div>
        <div th:if="${param.success}" class="param">
            <p class="alert alert-warning"> We have just sent you a verification link to your email, please check to complete your password reset process</p>
        </div>


    </div>
    <form th:action="@{/registration/forget-password}" method="post" class="form">

        <h2 class="h2"> Forget Password</h2>
        <div class="form-control">

            <div class="form-con">
                <input type="email" id="email" autofocus="autofocus"
                       required class="form-input" name="email" placeholder="enter your email address">
            </div>
        </div>

        <div class="but-div">
            <button type="submit" class="btn btn-success" > Verify Email</button>

        </div>
    </form>
</div>
</body>
</html>